Source: libfplist
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libfplist
Vcs-Git: https://github.com/libyal/libfplist.git

Package: libfplist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfplist1
Replaces: libfplist1
Suggests: libfplist-dbg
Description: Library to support the plist formats
 libfplist is a library to support the plist formats.

Package: libfplist-dbg
Architecture: any
Section: debug
Depends: libfplist (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfplist
 Debugging symbols for libfplist.

Package: libfplist-dev
Section: libdevel
Architecture: any
Depends: libfplist (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfplist
 Header files and libraries for developing applications for libfplist.

